<html>
<body>
<footer>
    <nav>
        <ul>
            <li class="menu-item"> <strong><h2>Gincana NodeJs</h2> </strong></li>
            <li class="menu-item"><strong><h2>Sobre Ejs</h2> </strong></li>
            EJS significa Embedded JavaScript Templates e é uma biblioteca de templates para Node.js que permite a construção de páginas HTML dinâmicas com JavaScript. Com EJS, a diferença é que o código JavaScript pode ser inserido no próprio HTML, é fácil criar um conteúdo dinâmico baseado nos dados recebidos do servidor. <br>
            <li class="menu-item"> <strong><h2>&copy;: Yves </h2></strong> </li>
        </ul>
    </nav>
</footer>
</body>
</html>